{% assign mainproduct = {{all_products['fitra-activity-band']}} %}

<div>{{mainproduct.description}}</div>


<div>{{mainproduct.price | price_with_trailing_zeros}}</div>

{% for image in mainproduct.images %}
  {{ image | img_url}}
{%endfor%}
